@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.form-container{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.form-container{
   display:flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

.form-container form{
   width: 400px;
   padding: 20px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.form-container h3{
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #ffbf98;
   color:white;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: rgb(237, 112, 10);
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   padding-bottom: 0px;
   color:#333;
}

.form-container form p a{
   color:rgb(231, 127, 16);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

.form-container form .success-msg{
   margin:10px 0;
   display: block;
   background: rgb(2, 189, 2);
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

